body{
    background-color: #151826;
}

#header{
    font-family: 'Aboreto', cursive;
}

.bg-img{
    background-image: url(../images/header-bg.jpg);
    width: 100%;
    height: 50vh;
}
.bg-dark-blue{
    background-color: #292D3F;
}